<!-- views/partials/footer.ejs -->
<div class="container">
    <div class="col-3">
        <p>by &copy zachary myers 2018</p>
    </div>


    <div class="col-1">
        <ul class="unstyled-list">
            <li>
                <strong>Links</strong>
            </li>
            <li>
                <a href="/contact">contact</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
            <li>
                <a href="/projects">projects</a>
            </li>
            <li>
                <a href="/">home</a>
            </li>
        </ul>
    </div>
</div>