<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>zachary myers</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../css/style.css">
<style>
    body    { padding-top:50px; }
</style>
