<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zachary myers - about</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <section class="about-hero parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">
                About</h1>
        </div>
    </section>
    <div class="container">
        <div class="col">
            <p>Hey! I'm Zack, I like graphic design, animation, video editing, and more. If you would like me to make something
                for you be sure to
                <a href="/contact">contact me!</a>
            </p>
        </div>
    </div>
    <section class="about-hero-2 parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">Social Media</h1>
        </div>
    </section>

    <div class="container">
        <div class="col">
            <h2>I don't have very many social media(s), however I do have</h2>
            <p>a <a href="http://twitter.com/_ZackArtz" target="_blank">twitter.</a></p>
            <p>a <a href="http://instagram.com/zackattack2412" target="_blank">instagram.</a></p>
            <p>a <a href="http://youtube.com/c/ZacksArtz" target="_blank">youtube.</a></p>
            <p>and my discord username is zxck#8233</p>
        </div>
    </div>

    <div class="container">
        <div class="col">
            <p>Wanna see the projects I've been working on? Check them out <a href="/projects">here.</a></p>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="js/parallax.js"></script>
</body>

</html>