<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zachary myers - de wey</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <header>
        <% include ../partials/header %>
    </header>

    <section class="about-hero parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">
                du u know de wey?
            </h1>
            <a href="/deway" class="button button-accent">de way</a>
        </div>
    </section>

    <div class="container">
        <div class="col">
            <h2>brudda, dis is unfortunate, but u must hav ebola 2 know de wey.</h2>
            <p>click <a href="/">here </a> to go home bruddah.</p>
        </div>
    </div>



    <footer>
        <% include ../partials/footer %>
    </footer>


    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="js/parallax.js"></script>
</body>

</html>