<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zachary myers - contact</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

    <body>

        <header>
            <% include ../partials/header %>
        </header>

        <section class="about-hero-3 parallax--bg">
            <div class="container">
                <h1 class="title parallax--box">
                    Contact
            </div>
        </section>

        <div class="container">
            <div class="col">
                <p>Thanks for visiting my webste, if you want to email me, here's where to do it!</p>
            </div>
        </div>

        <form action="mailto:someone@example.com" method="post" enctype="text/plain">
            <p>Name:</p>
            <br>
            <input type="text" name="name">
            <br><p>E-mail:</p>
            <br>
            <input type="text" name="mail">
            <br><p>Comment:</p>
            <br>
            <input type="text" name="comment" size="50">
            <br>
            <br>
            <input type="submit" value="Send">
            <input type="reset" value="Reset">
        </form>

        <footer>
            <% include ../partials/footer %>
        </footer>


        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

        <script src="js/parallax.js"></script>
    </body>

</html>