<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>zachary myers</title>
	<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

	<header>
		<% include ../partials/header %>
	</header>

	<section class="home-hero parallax--bg">
		<div class="container">
			<h1 class="title parallax--box">
				<strong>zachary</strong> myers <span>
					coder, animator, meme god
				</span></h1>
			<a href="/about" class="button button-accent">about</a>
		</div>
	</section>



	<footer>
		<% include ../partials/footer %>
	</footer>


	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
	    crossorigin="anonymous"></script>

	<script src="js/parallax.js"></script>
</body>

</html>