<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Creative Inc.</title>
<link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<header>
	<img src="img/logo.png" alt="Creative inc. logo" class="logo">
	<nav>
		<ul>
			<li id="active"
					class="wsite-menu-item-wrap"
					>
					<a href="/"
						
						class="wsite-menu-item"
						>
						Illuminati ALERT PAGE
					</a>
					
				</li>
				<li id="pg461488815943787325"
					class="wsite-menu-item-wrap"
					>
					<a href="/are-these-the-end-of-days.html"
						
						class="wsite-menu-item"
						>
						Are these the end of days?
					</a>
					
				</li>
				<li id="pg445625932232328099"
					class="wsite-menu-item-wrap"
					>
					<a href="http://housechurchesuk.weebly.com/"
						
						class="wsite-menu-item"
						>
						Chemical trails
					</a>
					
				</li>
				<li id="pg340625797891170126"
					class="wsite-menu-item-wrap"
					>
					<a href="/illuminati-street-booklet.html"
						
						class="wsite-menu-item"
						>
						Illuminati Street booklet
					</a>
					
				</li>
				<li id="pg544240290655672809"
					class="wsite-menu-item-wrap"
					>
					<a href="/days-of-noah-bookangels--giants.html"
						
						class="wsite-menu-item"
						>
						"Days of Noah book"Angels & Giants
					</a>
					
				</li>
				<li id="pg275235924575174756"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-evolution-delusion.html"
						
						class="wsite-menu-item"
						>
						The Evolution Delusion
					</a>
					
				</li>
				<li id="pg689819196102421032"
					class="wsite-menu-item-wrap"
					>
					<a href="/how-on-earth-did-we-get-here.html"
						
						class="wsite-menu-item"
						>
						How on earth did we get here?
					</a>
					
				</li>
				<li id="pg733314702427639804"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-book-of-enoch-chapter-1-to-16.html"
						
						class="wsite-menu-item"
						>
						The Book Of Enoch chapter 1 to 16
					</a>
					
				</li>
				<li id="pg572321694214365840"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-book-of-enoch-chapter-17-to-25.html"
						
						class="wsite-menu-item"
						>
						The book of Enoch chapter 17 to 25
					</a>
					
				</li>
				<li id="pg723522491823104791"
					class="wsite-menu-item-wrap"
					>
					<a href="/state-of-the-dead.html"
						
						class="wsite-menu-item"
						>
						State of the Dead
					</a>
					
				</li>
				<li id="pg525499862609498297"
					class="wsite-menu-item-wrap"
					>
					<a href="/repairing-the-breach.html"
						
						class="wsite-menu-item"
						>
						Repairing The Breach
					</a>
					
				</li>
				<li id="pg557354853966728867"
					class="wsite-menu-item-wrap"
					>
					<a href="/free-online-books.html"
						
						class="wsite-menu-item"
						>
						FREE online books
					</a>
					
				</li>
				<li id="pg132632324695614388"
					class="wsite-menu-item-wrap"
					>
					<a href="/lifes-big-questions.html"
						
						class="wsite-menu-item"
						>
						Life's Big Questions
					</a>
					
				</li>
				<li id="pg242168223950497249"
					class="wsite-menu-item-wrap"
					>
					<a href="/why-do-we-die.html"
						
						class="wsite-menu-item"
						>
						Why do we die?
					</a>
					
				</li>
				<li id="pg616922117419324542"
					class="wsite-menu-item-wrap"
					>
					<a href="/our-beliefs.html"
						
						class="wsite-menu-item"
						>
						Our Beliefs 
					</a>
					
				</li>
				<li id="pg476999776882028696"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-true-church-jesus-built.html"
						
						class="wsite-menu-item"
						>
						The True Church (Jesus) Built!
					</a>
					
				</li>
				<li id="pg828025089608241061"
					class="wsite-menu-item-wrap"
					>
					<a href="/church-flees-to-the-wilderness.html"
						
						class="wsite-menu-item"
						>
						Church flees to the wilderness
					</a>
					
				</li>
				<li id="pg161855021727404253"
					class="wsite-menu-item-wrap"
					>
					<a href="/satans-plan-to-pull-down-the-earth.html"
						
						class="wsite-menu-item"
						>
						Satans plan to pull down the earth
					</a>
					
				</li>
				<li id="pg599605129256093309"
					class="wsite-menu-item-wrap"
					>
					<a href="/how-to-be-born-again.html"
						
						class="wsite-menu-item"
						>
						How to be born again?
					</a>
					
				</li>
				<li id="pg570634931672111880"
					class="wsite-menu-item-wrap"
					>
					<a href="/should-christians-keep-the-sabbath.html"
						
						class="wsite-menu-item"
						>
						Should Christians keep the Sabbath?
					</a>
					
				</li>
				<li id="pg152731975476394083"
					class="wsite-menu-item-wrap"
					>
					<a href="/how-to-keep-the-sabbath-in-the-21st-century.html"
						
						class="wsite-menu-item"
						>
						How to keep the Sabbath in the 21st Century
					</a>
					
				</li>
				<li id="pg756880681240256974"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-secret-rapture-lie.html"
						
						class="wsite-menu-item"
						>
						The SECRET Rapture Lie!
					</a>
					
				</li>
				<li id="pg244064196383802547"
					class="wsite-menu-item-wrap"
					>
					<a href="/from-this-world-to-the-next.html"
						
						class="wsite-menu-item"
						>
						From This World To The Next
					</a>
					
				</li>
				<li id="pg739052992859621691"
					class="wsite-menu-item-wrap"
					>
					<a href="/someone-cares-for-you.html"
						
						class="wsite-menu-item"
						>
						Someone Cares For You!
					</a>
					
				</li>
				<li id="pg176203317999084666"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-kingdom-of-god.html"
						
						class="wsite-menu-item"
						>
						The kingdom of God
					</a>
					
				</li>
				<li id="pg101253387591181455"
					class="wsite-menu-item-wrap"
					>
					<a href="/churches-admit-changing-sabbath.html"
						
						class="wsite-menu-item"
						>
						Churches admit changing Sabbath
					</a>
					
				</li>
				<li id="pg694123417788884736"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-last-kingdom-standing.html"
						
						class="wsite-menu-item"
						>
						The last kingdom standing 
					</a>
					
				</li>
				<li id="pg756806245971206642"
					class="wsite-menu-item-wrap"
					>
					<a href="/the-ten-commandments.html"
						
						class="wsite-menu-item"
						>
						The Ten Commandments
					</a>
					
				</li>
				<li id="pg358533735232545069"
					class="wsite-menu-item-wrap"
					>
					<a href="/chain-of-events-of-the-end-of-days.html"
						
						class="wsite-menu-item"
						>
						"Chain of Events" Of the end of days
					</a>
					
				</li>
				<li id="pg612048775420135842"
					class="wsite-menu-item-wrap"
					>
					<a href="/jehovahs-wittnesses-cult-or-christian.html"
						
						class="wsite-menu-item"
						>
						Jehovahs Wittnesses Cult or Christian?
					</a>
					
				</li>
				<li id="pg694519712535528277"
					class="wsite-menu-item-wrap"
					>
					<a href="/are-your-tongues-from-god.html"
						
						class="wsite-menu-item"
						>
						ARE YOUR TONGUES FROM GOD?
					</a>
					
				</li>
				<li id="pg405440363935900379"
					class="wsite-menu-item-wrap"
					>
					<a href="/read-the-bible-online.html"
						
						class="wsite-menu-item"
						>
						Read the Bible online
					</a>
					
				</li>
				<li id="pg333710238557676987"
					class="wsite-menu-item-wrap"
					>
					<a href="/traditions-of-men-v-commandments-of-god.html"
						
						class="wsite-menu-item"
						>
						Traditions of Men V Commandments of God
					</a>
					
				</li>
				<li id="pg674361131837979572"
					class="wsite-menu-item-wrap"
					>
					<a href="/mel-gibsons-movie-the-passion-of-christ.html"
						
						class="wsite-menu-item"
						>
						Mel Gibsons Movie the passion of Christ
					</a>
					
				</li>
				<li id="pg306272644569685197"
					class="wsite-menu-item-wrap"
					>
					<a href="/come-on-give-god-a-chance.html"
						
						class="wsite-menu-item"
						>
						Come on give God a chance!
					</a>
					
				</li>
				<li id="pg696674799625058349"
					class="wsite-menu-item-wrap"
					>
					<a href="/my-blog-page.html"
						
						class="wsite-menu-item"
						>
						My Blog page
					</a>
					
				</li>
				<li id="pg980784645428327654"
					class="wsite-menu-item-wrap"
					>
					<a href="/free-christian-and-family-movies.html"
						
						class="wsite-menu-item"
						>
						FREE Christian and family Movies 
					</a>
					
				</li>
				<li id="pg631787802534579995"
					class="wsite-menu-item-wrap"
					>
					<a href="/home--contact-details.html"
						
						class="wsite-menu-item"
						>
						Home & Contact Details
					</a>
					
				</li>
				<li id="pg223058450109046738"
					class="wsite-menu-item-wrap"
					>
					<a href="/christian-rockhip-bands.html"
						
						class="wsite-menu-item"
						>
						Christian Rock/Hip bands
					</a>
					
				</li>
				<li id="pg367299808581847197"
					class="wsite-menu-item-wrap"
					>
					<a href="/pagan-trinity-of-rome.html"
						
						class="wsite-menu-item"
						>
						PAGAN TRINITY Of Rome 
					</a>
					
				</li>
				<li id="pg854255048606240183"
					class="wsite-menu-item-wrap"
					>
					<a href="/forum-room.html"
						
						class="wsite-menu-item"
						>
						Forum room
					</a>
					
				</li>
				<li id="pg187119941770087488"
					class="wsite-menu-item-wrap"
					>
					<a href="/ufos-and-aliens.html"
						
						class="wsite-menu-item"
						>
						UFO'S and Aliens
					</a>
					
				</li>
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</nav>
</header>

<section class="home-hero parallax--bg">
	<div class="container">
		<h1 class="title parallax--box">Making things looks great <span>for companies who make great stuff</span>
		</h1>
		<a href="" class="button button-accent">See Our Work</a>
	</div>
</section>

<div class="container">
	<section class="home-about">

		<div class="home-about-textbox parallax--box">
			<h1>Who we are</h1>
			<p>Sit by the fire drink water out of the faucet hide head under blanket so no one can see cat is love, cat is life. Knock dish off table eating always hungry so favor packaging over toy. </p>
			<p><strong>Rub face on owner.</strong> Peer out window, chatter at birds, lure them to mouth. Chase ball of string eat a plant, kill a hand, i am the best have secret plans.</p>
		</div>

	</section>
</div>


<section class="portfolio">
	<h1>Some of our work</h1>

	<!-- portfolio item 01 -->
	<figure class="port-item">
		<img src="img/portfolio-01.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 02 -->
	<figure class="port-item">
		<img src="img/portfolio-02.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 03 -->
	<figure class="port-item">
		<img src="img/portfolio-03.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 04 -->
	<figure class="port-item">
		<img src="img/portfolio-04.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 05 -->
	<figure class="port-item">
		<img src="img/portfolio-05.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

	<!-- portfolio item 06 -->
	<figure class="port-item">
		<img src="img/portfolio-06.jpg" alt="portfolio item">
		<figcaption class="port-desc">
			<p>Project title</p>
			<a href="" class="button button-accent button-small">Project details</a>
		</figcaption>
	</figure>

</section>

<section class="cta">
	<div class="container">
		<h1 class="title title-cta">Like what you see?
			 <span>Then what are you waiting for?</span>
		</h1>
		<a href="" class="button button-dark">Hire us</a>
	</div>
</section>

<footer>
	<div class="container">
		<div class="col-3">
			<p>Shoreditch bespoke leggings, tote bag williamsburg woke retro readymade scenester brunch art party farm-to-table pug. Wayfarers lyft prism, edison bulb distillery pok pok narwhal pinterest poke.</p>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>

		<div class="col-1">
			<ul class="unstyled-list">
				<li><strong>Shoreditch</strong></li>
				<li>Shoreditch</li>
				<li>Woke retro </li>
				<li>Readymade </li>
				<li>Scenester </li>
			</ul>
		</div>
	</div>
</footer>


<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

		<script src="js/parallax.js"></script>
</body>
</html>
