<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>zachary myers - projects</title>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <% include ../partials/header %>
    </header>
    <section class="about-hero-3 parallax--bg">
        <div class="container">
            <h1 class="title parallax--box">
                Projects</h1>
        </div>
    </section>
    <div class="container">
        <div class="col">
            <h2>The current projects I'm working on are:</h2>
            <p>
                <a href="http://github.com/zackartz/weebshitidk" target="_blank">weebshitidk</a> my custom discord bot that you can
                <a href="https://discordapp.com/oauth2/authorize?client_id=389270986043686922&scope=bot&permissions=2146958591" target="_blank">invite</a> here.</p>
            <p>If you want to download a basic version of my bot you can
                <a href="/files/basicbot.zip" download>download it here.</a>
            </p>
        </div>
    </div>
    <section class="about-hero-2 parallax--bg">
        <div class="container">
            <h1 class="tile">That's all for now!</h1>
        </div>
    </section>
    <div class="container">
        <div class="col">
            <p>Check back later to see what else I'm working on!</p>
            <p>Or if you want you can check out my <a href="https://github.com/ZackArtz">github!</a></p>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>

    <script src="js/parallax.js"></script>
</body>

</html>